<div class="form-inline">
    <div class="form-group mb-2">
      <label class="mr-2">Filtro: </label>
      <input
      type="text"
      class="form-control mr-2"
      placeholder="buscar"
      [(ngModel)]="filtroLista"
      >
    </div>
  </div>


<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                <button type="button" class="btn btn-outline-light btn-sm"
                    (click)="alterarImagem()">
                    <i class="{{!mostrarImagem ? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i>
                    {{!mostrarImagem ? 'ocultar' : 'exibir'}}
                </button>
            </th>

            <th>#</th>
            
            <th>Tema</th>
            <th>Local</th>
            <th>Data</th>
            <th>Numero Pessoas</th>
            <th>Lote</th>
            <th>Opcões</th>
        </tr>


    </thead>

    <tbody *ngIf="eventos && eventos.length">

        <tr *ngFor="let evento of eventosFiltrados">
            
            <td>
                <img [collapse]="mostrarImagem"
                [isAnimated]="true"
                src= "/assets/{{evento.imagemURL}}" alt=""
                [style.width.px]="larguraImg"
                >
            </td>
            <td>{{evento.id}}</td>
            <td>{{evento.tema}}</td>
            <td>{{evento.local}}</td>
            <td>{{evento.dataEvento | DateFormatPipe}}</td>
            <td>{{evento.qtdPessoas}}</td>
            <td>{{evento.lote}}</td>
            <td>
                <button type="button" class="btn btn-primary btn-sm mr-2">Editar</button>
                <button type="button" class="btn btn-danger btn-sm mr-2">Excluir</button>
            </td>
        </tr>
    </tbody>
    <tfoot *ngIf="!eventos.length">
        <tr>
            <td colspan="8" class="text-center">
                <h4>Nenhum Item Encontrado!</h4>
            </td>
        </tr>
    </tfoot>
</table>